@charset "utf-8";
.sns-profile{display:flex;
            margin:10px;}
.diary-module {
    padding: 0;
    display: block;
    grid-template-columns: var(--diary-ratio);
    position: relative;
}
.diary-module div.profile-img-sns{display:block;
                                  width:50px; height:50px;
                                 overflow:hidden;
                                  border-radius:100%;
                                  border:2px solid black;
                                 margin:10px;
                                 position: relative;}

img{
            object-fit:cover;
    position: absolute;
   width:60px;
top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);}

.sns-id{padding:8px 0px;
color:gray;}
