@charset "utf-8";

.diary-module {
	padding: 0;
	display: block;
	grid-template-columns: var(--diary-ratio);
	position: relative;
}
.diary-module div.profile-img-sns{
	display:block;
	width:var(--sns-profile-img-size);
	height:var(--sns-profile-img-size);
	overflow:hidden;
	border-radius:100%;
	border:2px solid black;
	margin:10px;
	position: relative;
}
