#exhibit{
	display:flex;
}
#exhibit .module {
	position: relative;
	margin: 0 calc(var(--box-gap) / 2);
	height: 50vh;
	text-align: center;
	align-content: center;
}

.gallery-text{
	position: absolute;
	top: 30%;
	left: -70%;
	transform: rotate(-60deg);
	color: 
		color-mix(in srgb, var(--text-color) 50%, var(--clear));
}
