:root{
	--exhibit-back-text-scale:1.5;
}

#exhibit{
	display:flex;
}

#exhibit .module {
	position: relative;
	margin: 0 calc(var(--box-gap) / 2);
	padding:0;
	height: 50vh;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden; 	
}

#exhibit .module a {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	text-decoration: none;
}

#exhibit .module p.gallery-text {
	display: none;
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 10;
	margin: auto 0;
	padding: 6px 14px;
	border-radius: 4px;
	color: var(--text-color);
	background-color: 
		color-mix(in srgb, var(--card-background-color) 15%, var(--clear));
	transition: all 0.3s ease;
	align-content: center;
}

/* 호버 시 p 태그 배경이 조금 더 선명해지거나 변하게 처리 (선택사항) */
#exhibit .module a:hover p.gallery-text {
	display: block;
	background-color: color-mix(in srgb, var(--card-background-color) 30%, var(--clear));
}

svg.gallery-text{
	height: auto;
	position: absolute;
	top: 30%;
	left: -70%;
	transform: rotate(-60deg) scale(var(--exhibit-back-text-scale));
	pointer-events: none;
	color: 
		color-mix(in srgb, var(--text-color) 50%, var(--clear));
}
