:root{
	--exhibit-back-text-scale: 2.5;
}
/*sns 글자만 크기가 달라서 */
svg.sns-text {
    --exhibit-back-text-scale: 1.5;
}


#exhibit{
	display:flex;
	width: 100%;
    height: 100%;
}

#exhibit .module {
	position: relative;
	margin: 0 calc(var(--box-gap) / 2);
	padding:0;
	height: auto;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden; 	
}

#exhibit .module a {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	text-decoration: none;
}

#exhibit .module p.gallery-text,
#exhibit .module p.sns-text,
#exhibit .module p.play-list-text{
	display: none;
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 10;
	margin: auto 0;
	padding: 6px 14px;
	border-radius: 4px;
	color: var(--text-color);
	background-color: 
		color-mix(in srgb, var(--card-background-color) 15%, var(--clear));
	transition: all 0.3s ease;
	align-content: center;
}

/* 호버 시 p 태그 배경이 조금 더 선명해지거나 변하게 처리 (선택사항) */
#exhibit .module a:hover p.gallery-text,
#exhibit .module a:hover p.sns-text,
#exhibit .module a:hover p.play-list-text{
	display: block;
	background-color: color-mix(in srgb, var(--card-background-color) 80%, var(--clear));
}

svg.gallery-text,
svg.sns-text,
svg.play-list-text{
	height: auto;
	position: absolute;
	top: 40%;
	left: -5%;
	transform: rotate(-60deg) scale(var(--exhibit-back-text-scale));
	pointer-events: none;
	color: 
		color-mix(in srgb, var(--point-color) 50%, var(--clear));
}

@media (max-width: 1024px) {
	#exhibit .module {
		height: 65vh;
	}
}
