@charset "utf-8";


:root{ 
	--gallery-box-shadow-X:0px; /*양수는 오른쪽, 음수는 왼쪽*/
	--gallery-box-shadow-Y:4px; /*양수는 위쪽, 음수는 아래쪽*/
	--gallery-box-shadow-blur: 8px; 
	--gallery-box-shadow-spread:0px;
	--gallery-box-shadow:
    	var(--gallery-box-shadow-X) 
    	var(--gallery-box-shadow-Y) 
    	var(--gallery-box-shadow-blur) 
    	var(--gallery-box-shadow-spread) 
    	var(--box-shadow-color); /* 작은박스 그림자*/
	--gallery-box-between:1em;/*작은 박스 사이간격*/     
}

[data-theme="dark"] {
	--gallery-box-shadow:
    	var(--gallery-box-shadow-X) 
    	var(--gallery-box-shadow-Y) 
    	var(--gallery-box-shadow-blur) 
    	var(--gallery-box-shadow-spread) 
    	var(--box-shadow-color); /* 작은박스 그림자*/
}

body:has(#gallery-notice){
	display: block;
}

#gallery h1,
#gallery h4, 
#gallery h2{
	text-align:center;
	margin: 0 10px;
	padding: 0;
}

#gallery h1{
	color:red;
	font-weight:bold;
	padding:20px 0 10px 0;
}

#gallery h4, 
#gallery h2 {
	padding-bottom:20px;/* 이미지 비율 유지 */
}

#masonry-gallery {
	column-count: 4;
	column-gap: var(--gallery-box-between);
	max-width: 100vw;
	margin: 1em auto;
	padding:10px;
	align-items:center; /*flex-start; /* 자식 요소들을 위쪽에 정렬 */
}

/* ==========================================
 이미지 슬라이더
========================================== */
.slider {
	overflow:hidden;
	width: 100%;
	position: relative;
	box-shadow:var(--gallery-box-shadow);
	border-radius: 10px;
	margin-bottom: var(--gallery-box-between);
	background:var(--card-background-color);
}

.slides {
	width:100%;
	display: flex;
	transition: transform 0.5s ease-in-out;
}

.slides .gallery-img {
	flex: 0 0 100%;
	box-sizing: border-box; /* padding과 border를 포함하여 크기 계산 */
	overflow: hidden; /* div가 잘리지 않도록 설정 */
	margin: 0; /* 필요시 마진 제거 */
	box-shadow:none;
}

.gallery-img img {
	border-radius: 10px;
	width: 100%;
	height: auto;
	display: block;
}

.slider button{
	position: absolute;
	top: 50%;
	border-radius: 10px 0 0 10px;
	transform: translateY(-50%);
	background-color: rgba(115, 115, 115, 0.6);
	opacity:0.5;
	color:white;
	opacity:1;
	border: none;
	padding: 10px;
	min-width: fit-content;
}

.slider button:hover{
	background-color: var(--point-color);
	color: var(--btn-text-color);
}

.slider button.prev {
	left: 0px;
	border-radius: 0 10px 10px 0px;

}

.next {
	right: 0px;
}

/* ==========================================
	갤러리
========================================== */
.gallery-img {
	background: var(--card-background-color);
	margin-bottom: var(--gallery-box-between);
	border-radius:10px;
	padding: 1em;
	break-inside: avoid;
	overflow: hidden; /* 아이템 잘림 방지 */
	box-shadow: var(--gallery-box-shadow); /* 그림자 조정 */
	flex: 0 0 auto;  width: 100%;
}

.gallery-img img {
	border-radius:10px;
	width: var(--width-100);
	height: auto;
	display: block;
}

.gallery-img h3 {
	margin: 0.5em 0 0.2em;
}

.gallery-img p {
	margin: 0;
}

/* ==========================================
    화면 크기에 따라 flex 속성을 조정하여 반응형 레이아웃 구현
========================================== */
@media (max-width: 1200px) {
	#masonry-gallery {column-count: 3;/* 3열 레이아웃 */}
}

@media (max-width: 900px) {
	#masonry-gallery {column-count:2; /* 2열 레이아웃 */}
}

@media (max-width: 600px) {
	#masonry-gallery {
		column-count: 1;/* 1열 레이아웃 */
	}
	button{
		padding: 10px;
		font-size: xx-large;
	}
}
