@charset "utf-8";
:root {  
		/*디테일의 앞의 마크 색상*/
	--summary-mark-color:#fc6603;
		/*디테일의 앞의 마크*/
	--summary-mark:"◆";
}

#home h1 {
	color: var(--point-color);
}

#home p{
	padding-left: 30px;	
}

#home div:nth-child(2) p:first-child,
#home div:nth-child(2) p:nth-child(2){
	text-align:center;
	text-indent: unset; 
}

#home div:nth-child(2) p{
	text-indent: calc(var(--p-text-indent) * -1);   
	padding-left: 30px;	
}

/*접고 피기*/
details.details-css{
	padding:10px;
	margin:5px 0 10px 0;
	background:var(--sub-background-color);
}

details.details-css:hover{
	background:color-mix(var(--sub-background-color) 50%, var(--hover-mix));
}

details.details-css summary{
	font-weight:bold;
	margin:10px 0;
	display: block;
}
details.details-css summary::-webkit-details-marker { 
		/* Safari 브라우저용 사용자 정의 스타일 */
	content: var(--summary-mark);
	color:var(--summary-mark-color);
	margin-right:5px;
}

details.details-css summary::before{
	content: var(--summary-mark);
	color:var(--summary-mark-color);
	margin-right:5px;
}



