@charset "utf-8";
:root{
	--banner-tooltip-border-px:2px;
}

#menu .banner-module {
	max-width: var(--mobile-drawer-width);
	padding: var(--box-padding);
}

.friend-banner{
	padding: 0;
	overflow: visible;
}

#links a:hover,
#links button:hover,
#links a:hover *,
#links button:hover *,
.banner-module a:hover,
.banner-module a:hover * {
    cursor: var(--over-cursor), pointer !important;
}

.banner-module a{
    display: inline-block;
    max-width: 45vw;
    padding: 0;
    background-color: var(--clear);
    margin: var(--banner-gap) auto;
}

#links a:hover,
.banner-module a:hover{
    filter: contrast(30%) brightness(150%);
}

.banner-module.self {
    display: grid;
    gap: var(--box-gap);
    grid-template-columns: 1fr 2fr;
}

.banner-module.self .banner-img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-module.self img {
    
}

.banner-module.self button {
    width: 100%;
    max-width: 500px;
    background-color: var(--point-color);
    margin: var(--banner-gap) auto;
    padding: 10px 20px;
}

.banner-module.self button:hover {
    background-color: var(--point-sub-color);
}

.banner-module.group .banner-title {
    margin: 0;
}

/*추가 css*/
.banner-module a:has(.tooltip){
	text-decoration:none;
	position:relative;	
}

#links img{
	width:200px;
	height:40px;
}

#menu .friend-banner{
	width:100%;	
}

a:has(.tooltip):hover{
  filter: unset !important;
}

.banner-module a:has(.tooltip):hover img{
  filter: contrast(30%) brightness(150%);
  cursor: var(--over-cursor), pointer !important;
}

.banner-module .tooltip{
  visibility:hidden;
  position: absolute;
    top: -50px;
    right: 60px;
  width: fit-content;
  margin: 0 auto;
  z-index:1;
}

.banner-module .tooltip p{
  position: relative;  
  margin:0;
  background:var(--background-color); 
  padding: 10px;
  border-radius: 10px;  
  color:var(--text-color);	
  filter: drop-shadow(0px var(--banner-tooltip-border-px) 1px var(--point-color)) 
          drop-shadow(0px calc(var(--banner-tooltip-border-px) * -1px) 1px var(--point-color)) 
          drop-shadow(var(--banner-tooltip-border-px) 0px 1px var(--point-color)) 
          drop-shadow(calc(var(--banner-tooltip-border-px) * -1px) 0px 1px var(--point-color));	
}

.banner-module .tooltip p:after{
  content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 10px solid transparent;
	border-top-color: var(--background-color);
	border-bottom: 0;
	border-left: 0;
	margin-left: -10px;
	margin-bottom: -9px;
}

.banner-module a:hover .tooltip{
  visibility:visible;
}

@media (max-width: 1024px) {
	.banner-module.self {
        grid-template-columns: auto;
    }	

/*추가 css*/	
	#menu .friend-banner{
		padding:0;
	}

	.banner-module .tooltip{
		right:40%;
	}
    .banner-module .tooltip p{
  		font-size:10px; 
 	 }	
  
  .banner-module .tooltip p:after{
    	border: 15px solid transparent;
    	border-top-color: var(--background-color);  
    	margin-bottom: -10px;  
   		border-bottom: 0;
    	border-left: 0;
    	margin-left: -10px;  
  	}  

	.banner-module a:has(.tooltip){
		min-width: calc(var(--mobile-drawer-width) - calc(var(--padding-menu) * 2));
	}

}
