@charset "utf-8";
:root{
	--banner-tooltip-border-px:2px;
}

/* ==========================================
 공통
========================================== */
.friend-banner{
	padding: 0;
}

#links .friend-banner,
#menu .friend-banner{
	overflow: visible;	
}

#links a:hover,
#links button:hover,
#links a:hover *,
#links button:hover *,
#menu .banner-module a:hover,
#menu .banner-module a:hover * {
	cursor: var(--over-cursor), pointer !important;
}


.banner-module a{
	display: inline-block;
	max-width: 45vw;
	padding: 0;
	background-color: var(--clear);
	margin: var(--banner-gap) auto;
}

.banner-module.self {
	display: grid;
	gap: var(--box-gap);
	grid-template-columns: 1fr 2fr;
}

.banner-module.self .banner-img {
	display: flex;
	align-items: center;
	justify-content: center;
}

.banner-module.group .banner-title {
    margin: 0;
}

.banner-module a:has(.banner-tooltip){
	text-decoration:none;
	position:relative;	
	min-width: calc(var(--mobile-drawer-width) - calc(var(--padding-menu) * 4))
}

.banner-module img {
	border-radius: var(--module-inside-round);
	width: 300px;
}

.banner-module a:has(.banner-tooltip):hover{
	filter: unset !important;
}

.banner-module a:has(.banner-tooltip):hover img{
	filter: contrast(30%) brightness(150%);
	cursor: var(--over-cursor), pointer !important;
}

.banner-module .banner-tooltip{
	visibility:hidden;
	position: absolute;
	top: -70px;
	width: fit-content;
	margin: 0 auto;
	z-index:1;
}

.banner-module .banner-tooltip p{
	position: relative;  
	margin:0;
	background:var(--background-color); 
	padding: 15px;
	border-radius: 10px;  
	color:var(--text-color);	
	filter: drop-shadow(0px var(--banner-tooltip-border-px) 1px var(--point-color)) 
			drop-shadow(0px calc(var(--banner-tooltip-border-px) * -1) 1px var(--point-color)) 
			drop-shadow(var(--banner-tooltip-border-px) 0px 1px var(--point-color)) 
			drop-shadow(calc(var(--banner-tooltip-border-px) * -1) 0px 1px var(--point-color));	
}

.banner-module .banner-tooltip p:after{
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 10px solid transparent;
	border-top-color: var(--background-color);
	border-bottom: 0;
	border-left: 0;
	margin-left: -10px;
	margin-bottom: -9px;
}

.banner-module a:hover .banner-tooltip{
	visibility:visible;
}

/* ==========================================
 메뉴란에만 들어가는 스타일
========================================== */
#menu .banner-module {
	max-width: var(--mobile-drawer-width);
	padding: var(--box-padding);
}

#menu .friend-banner{
	width:100%;	
	padding:0;
}

#menu .banner-module .banner-tooltip {
    right: 40%;
}

/* ==========================================
 #link 안에만 들어가는 스타일
========================================== */
#links a:hover,
.banner-module a:hover{
	filter: contrast(30%) brightness(150%);
}

#links .banner-module a:has(.banner-tooltip) {
	min-width: auto;
}

#links img{
	width:200px;
	height:40px;
}

#links .banner-module .banner-tooltip{
	right: 25%;
}

/*.self의 배너만*/
#links .banner-module.self img {
	width: 90%;
	height: auto;
}

.banner-module.self button {
	width: 100%;
	max-width: 500px;
	background-color: var(--point-color);
	margin: var(--banner-gap) auto;
	padding: 10px 20px;
}

.banner-module.self button:hover {
	background-color: var(--point-sub-color);
}

@media (max-width: 1024px) {
	/* ==========================================
	공통
	========================================== */
	#menu .friend-banner,
	#links .banner-module .banner-tooltip p{
		font-size: unset;
	}
	
	.banner-module img {
		width: var(--width-100);
	}
	
	.banner-module.self {
		grid-template-columns: auto;
	}	

	.banner-module .banner-tooltip{
		visibility: visible;
		position: relative;
		top: 0;
		right: 0;
	}	
	
	.banner-module .banner-tooltip p{
		margin-bottom: 5px;
		background: color-mix(var(--card-background-color) 50%, transparent);		
	}	
  
	.banner-module .banner-tooltip p:after{
		border: 15px solid transparent;
		border-top-color: transparent;  
		margin-bottom: -10px;  
		border-bottom: 0;
		border-left: 0;
		margin-left: -10px;  
	}  

	.banner-module a:has(.banner-tooltip){
		min-width: calc(var(--mobile-drawer-width) - calc(var(--padding-menu) * 2));
	}

	/* ==========================================
	 #link 안에만 들어가는 스타일
	========================================== */
	#links .banner-module.self img {
		width: 70%;
		height: auto;
	}
	
	#links .banner-module .banner-tooltip p {
		padding: 5px 10px;
		border-radius: 10px;
	}

	
	/* ==========================================
		메뉴란에만 들어가는 스타일
	========================================== */
	#menu .banner-module .banner-tooltip p {
		padding:2px;
		border-radius: 30px;
	}


	#menu .banner-module .banner-tooltip{
		width:100%;
	}

}


