@charset "utf-8";
:root{

      /* -------- -------- -------- -------- BGM 설정 -------- -------- -------- -------- */
        --bgm-play-img: url('../bgm-play.gif');/*../bgm-play.png*/
        --bgm-stop-img: url('../bgm-stop.gif');
        /* 배경 재생 상태 이미지를 각각 지정합니다. */
        --bgm-img-width: 32px;
        --bgm-img-height: 32px;
        /* 배경 재생 상태 이미지의 크기를 지정합니다. */

  
  /*  설명 글자 사이즈 */
  --p-font-size:x-small;
  
  /* 오프닝 엔딩 외곽선 두께 */  
  --border-px-l:3px;
  /*음악 소개 칸 외곽선 두께*/
  --border-px-s:2px;  
  /*내부 사각형 꼭짓점 둥굴기*/
  --in-border-radius:10px;
  /* 칸 외곽선 색상 */
  --border-color:black;
  /*라인 하단의 빈 공간*/
  --hr-margin-bottom:30px;  
  
  /* 썸네일 이미지 사이즈 */
  --sumnail-img:150px;
  /*프로필 이미지 사이즈*/
  --profile-img:150px;
  
  /*점선 색상*/
  --dash-color:gray;

  
  /*하트 색상*/ 
  --heart-color:red;
  /*open 하트*/
  --heart-open-cont:'♥';  
  /*close 하트*/
  --heart-close-cont:'❥';  
  
  /*별 색상*/
  --star-color:yellow;
  /*별 뒤의 후광 색상*/
  --star-shadow-color:blue;
  /*open 별*/
  --star-open-cont:'★';
  /*close 별*/
  --star-close-cont:'✦';
}


#bgmBtn {
    position: static;
    display: flex;
    bottom: var(--box-gap);
    justify-content: center;
    margin:10px 0;
}

#bgmBtn button {
    padding: 0;
    color: var(--disable-color);
    background-color: var(--clear);
    min-width: 0;
}

#bgmVisual {
    width: var(--bgm-img-width);
    height: var(--bgm-img-height);
    background-size: auto;
    background-repeat: no-repeat;
    background-image: var(--bgm-play-img);
    margin:auto 0;
}

#bgmBtn #bgmStatus[value="stop"] ~ #bgmVisual {
    background-image: var(--bgm-stop-img);
}

#bgmBtn button {
    padding: 0;
    margin: 0 3px;
    color: var(--disable-color);
    background-color: var(--clear);
    min-width: 0;
}

#bgmBtn #bgmStatus[value="play"] ~ .play {
    color: var(--good-color);
}

#bgmBtn #bgmStatus[value="stop"] ~ .stop {
    color: var(--bad-color);
}

#bgmBtn #bgmStatus[value="prev"] ~ .prev {
    color: var(--bad-color);
}

#bgmBtn #bgmStatus[value="next"] ~ .next {
    color: var(--bad-color);
}

#bgm {
    display: none;
}

#videoTitle {
    width: 40%;
    flex: 0 0 auto;
    position: relative;
    color: #333;
    overflow: hidden;
    text-align: center;
    margin: 0 10px;
    background: white;
    border-radius: 30px;
}

#marqueeText {
    display: inline-block;
    white-space: nowrap;
    animation: scroll-left 15s linear infinite;
}
#playlist{display:none;}
@keyframes scroll-left {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
}

.pl-left-frame .pl-text summary:after, .pl-right-frame .pl-text summary:after, 
#pl-one-frame .pl-text summary:after{
  content: '가사 미리 보기';
}
#pl-one-frame .pl-text summary:before{
  content: '🌵';
}

#pl-one-frame .pl-text details[open] > summary:before {
      content: '⭐';
}
.sub-title *{
  text-align:left;
  margin:0;
}
.sub-title{
  border-left: 30px solid var(--sub-color);
  padding: 15px;
  border-bottom: 2px solid var(--sub-color);
}


a{
  text-decoration:none;
  color:black;
}

h1, h2, h3, h4, h5, h6{
  text-align:center;
  /*white-space:pre-wrap;*/
  word-break: keep-all;
}

#play-list-frame{padding:15px;}
.main *:first-child
{
  margin-bottom:0;
}

.main *:last-child
{
  margin-top:0;
}
.main{
  margin:50px 0px 20px 0;
}
.name{
  margin: 0;
}
.trans{
  opacity:50%;
  letter-spacing: 1px;  
}
.left-align{
  text-align:left;
}
p{
font-size: var(--p-font-size);
margin: 0;
  margin-top:10px;
word-break: keep-all;  
}
.pl-main{
  text-align:center;
  max-width: 600px; 
  margin: 0 auto;  
}

.pl-main .pl-frame{
  display:block;
  margin:50px 0;
  border:var(--border-px-l) solid var(--border-color);
}

.main-fr{
  width:100%;
  justify-content: center;
  justify-items: center;    
}

hr.main-top{
margin: 10px 0;
width: 100%;
border: 3px solid var(--border-color);
border-radius: 5px;  
margin-bottom: var(--hr-margin-bottom);  
}


hr.main-ce{
  border: 0;
  border-bottom: 2px dashed var(--dash-color);
  background: white;
  margin-bottom: var(--hr-margin-bottom);  
  width: 60%;  
}
#pl-one-frame{
  display:block;
  margin-top: 40px;
}

#pl-one-frame .pl-frame{
  width:100%;
  margin: 0 auto;
  margin-bottom: 10px;  
  max-width: 500px;  
}

#pl-fair-frame{
 display:flex !important;
  margin-top:50px;
  max-width: 100vw;  
}
.pl-left-frame, .pl-right-frame{
  width:100%;
}
.pl-frame{
  display:flex;
  padding:10px;
  border:var(--border-px-s) solid var(--border-color);
  border-radius:20px;
  margin-bottom: 10px;  
  overflow:hidden;
}
.pl-profile{
    text-align: center;
    margin-bottom: 20px;  
}
.pl-profile img{
  width:var(--profile-img);
  height:var(--profile-img); 
  object-fit:cover;  
  border-radius: var(--in-border-radius); 
  margin: 0 auto;
}
.pl-img{
    width: var(--sumnail-img);
    height: var(--sumnail-img);
min-width: var(--sumnail-img);
min-height: var(--sumnail-img);
    border-radius: var(--in-border-radius);
    overflow: hidden;  
}
.pl-img iframe{
    width: 100%;
    height: 100%;
}
.pl-profile-img{
  position: relative;
  overflow: hidden;
  margin: 0 auto;
}

.pl-profile-img iframe, .pl-profile iframe{
    border-radius: var(--in-border-radius);
}
.pl-img img{
  width:var(--sumnail-img);
  height:var(--sumnail-img);
  object-fit:cover;
}

hr.play-list{
 margin: 0 20px;
 border: 0;
 border-left: 5px dashed var(--dash-color);
 background: white;
}

.pl-text{
  margin: 10px;
  width:100%;
}

.right{
  opacity:50%;
  font-size:20px;
}

.pl-text details{
  text-align:center;
}

summary::-webkit-details-marker { /* Safari 브라우저용 사용자 정의 스타일 */
    display: none;
}
summary {
    list-style-type: none; /* 그 외의 브라우저용 사용자 정의 스타일 */
}

.pl-left-frame .pl-text summary:before {
    content: var(--heart-close-cont);
    color: var(--heart-color);
    margin-right: 5px;
}


.pl-left-frame .pl-text details[open] > summary:before {
      content: var(--heart-open-cont);
}

.pl-right-frame .pl-text summary:before {
    content: var(--star-open-cont);
    color: var(--star-color);
    text-shadow: -3px 0px 4px var(--star-shadow-color), 0px 3px 4px var(--star-shadow-color), 3px 0px 4px var(--star-shadow-color), 0px -3px 4px var(--star-shadow-color);
    margin-right: 5px;
}

.pl-right-frame .pl-text details[open] > summary:before {
      content: var(--star-close-cont);
}


/*반응형*/
@media (max-width:800px){
h1, h2, h3, h4, h5, h6{
  word-break: nomal;
}
  
  #pl-fair-frame {
    display: block !important;
  }

hr.play-list{
 margin: 20px 0px;
border-bottom: 5px dashed var(--dash-color);  
}  

.pl-frame  {
  display:block;
  justify-items: center;
}

.pl-frame .left-align{
  text-align:center;
}  
.trans{
  letter-spacing: 3px;  
}  
}
@media screen and (max-width: 639px){#videoTitle {width: 60%;}}
#videoTitle p {padding: 0;
               margin: 5px;}
