@charset "utf-8";

:root{
	--sns-profile-img:
		url("https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2FVOHZi%2FbtsFoDdG5tI%2FIKykYjKGVuDUPNit6ji5kk%2Fimg.png")
	;
}

#container{
	position: relative;
	overflow: hidden;
}

table.sns-board{
    margin: 10px 0;
    /*border: 3px solid var(--point-sub-color);*/
}

#sns-lock h1,
#sns-lock h4{
	text-shadow: 
		var(--main-name-border-px) 0px 0px var(--main-name-border-color), 
		calc(var(--main-name-border-px) * -1) 0px 0px var(--main-name-border-color), 
		0px var(--main-name-border-px) 0px var(--main-name-border-color),
		0px calc(var(--main-name-border-px) * -1) 0px var(--main-name-border-color);
}

#sns-lock h1{
	color: red;
	margin: 10px;
}

.diary-text table{ 
	border:1px solid black; 
	width:50%;
	border-collapse: collapse;
}

.diary-text table tr td{
	padding:10px;
	border: 1px solid black;
}


table.sns-board{
	width:var(--width-100);
	border:none;
}

table.sns-board tr td{
	text-align:center;
	border:none;
	border-bottom:1px solid gray;
	width:20%;
}

table.sns-board tr th{
	text-align: left;
	border-bottom:1px solid gray;
	border-left:1px solid gray;
	border-right:1px solid gray;
	width:60%;
	padding:0 0 0 10px;
	overflow:hidden;
}

table.sns-board tr th a{
	text-decoration: none;
	word-break: break-all;
	display: -webkit-box;
		-webkit-line-clamp: 1;
		-webkit-box-orient: vertical;
	overflow: hidden;
}

table.sns-board .date{
	position: static;
}

#board{
	position: relative;
}

.sns-line{
	position: absolute;
	width: 10px;/*sns 타임라인 선 두께*/
	height: 100%;
	top: 0;
	left: calc(var(--sns-profile-margin) + var(--sns-profile-margin) + var(--sns-profile-img-size));
	background: #ebebeb;/*sns 타임라인 선 색상*/
	z-index: -1;
}

#sns-list h1{
	color: red;
    margin: 10px;
    text-shadow: 
		var(--main-name-border-px) 0px 0px var(--main-name-border-color), 
		calc(var(--main-name-border-px) * -1) 0px 0px var(--main-name-border-color), 
		0px var(--main-name-border-px) 0px var(--main-name-border-color), 
		0px calc(var(--main-name-border-px) * -1) 0px var(--main-name-border-color);
}

div.profile-img-sns img {
    content: var(--sns-profile-img);
}

.sns-profile div:has(.sns-id) {
    position: relative;
    top: var(--box-padding);
}

/*
.table-top * {
    text-align: center !important;
    font-weight: bolder;
    color: var(--btn-text-color) !important;
}

.table-top th {
    border-left: 1px solid white !important;
    border-right: 1px solid white !important;
}

table.sns-board tr:last-child * {
    border-bottom: none;
}
*/

@media (max-width: 1024px) {
	.diary-text table{
		width:var(--width-100);
	
}
