@charset "utf-8";

.diary-text table{ 
  border:1px solid black; 
  width:50%;
  border-collapse: collapse;
}

.diary-text table tr td{
  padding:10px;
  border: 1px solid black;
}


table.sns-board{
  width:var(--width-100);
  border:none;
}
table.sns-board tr td{
  text-align:center;
  border:none;
  border-bottom:1px solid gray;
  width:20%;
}

table.sns-board tr th{
  text-align: left;
  border-bottom:1px solid gray;
  border-left:1px solid gray;
  border-right:1px solid gray;
  width:60%;
  padding:0 0 0 10px;
  overflow:hidden;
                     }

table.sns-board tr th a{
  text-decoration: none;
  word-break: break-all;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

table.sns-board .date{
  position: static;
}
#board{
  position: relative;
      }

.sns-line{
  position: absolute;
  width: 10px;/*sns 타임라인 선 두께*/
  height: 99.8%;
  top: calc(100px + var(--padding-in-body));
  left: 15%;
  background: #ebebeb;/*sns 타임라인 선 색상*/
  z-index: -1;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .diary-text table{
    width:var(--width-100);
}
}
