@charset "utf-8";

:root{
  --dark-wiki-line-background-color:#4a4a52;
  --dark-wiki-text-black-color:black;/*검정색*/
  --dark-wiki-a-color:#f99933;/*주황색*/
}
html.theme--dark li{background:none;}
.theme--dark a.index{color:var(--dark-wiki-a-color);}

.theme--dark a{color:var(--dark-wiki-a-color) !important;}

.theme--dark a sup{color:var(--dark-wiki-a-color);}

.theme--dark a:hover, focus {color: #ff85d4;} /*태그 및 링크 색상(주석 옆의 숫자들 색상)*/

.theme--dark h2 span{color: #666;}

.theme--dark .table-title  span{color:var(--dark-wiki-text-black-color);}

.theme--dark th{color:var(--dark-wiki-text-black-color);}

/*목차 스타일*/

/*프로필 표*/
 /*프로필 상단 이름 란 1번*/
 .theme--dark tr.profile-name td span{ color:var(--wiki-main-text-color);
;}

/*내부 표*/





 /*루비문자 색상.*/
.theme--dark tr.profile-name td span.ruby{font-size: 13px;
          line-height: 180%;
          color: var(--dark-wiki-text-black-color);}

  


/*프로필 상단 이름 란 2번(성우 추가)*/

.theme--dark #country figure{padding:0;
               margin:0;}

.theme--dark #country figure img{width:10%;
                    padding:0;
                    margin:0; 
                    border:1px solid var(--border-wiki-gray-color);
                   }



.theme--dark td.country figure{padding:0;
               margin:0;}

.theme--dark td.country figure img{width:10%;
                    padding:0;
                    margin:0; 
                    border:1px solid var(--border-wiki-gray-color);
                   }
.theme--dark .profile-2 th.voice span{color:var(--dark-wiki-text-black-color);}
.theme--dark .profile-2 th.voice td span{color:var(--dark-text-color);}


/*프로필 스포일러란*/




  /*프로필 이미지*/
.theme--dark table.profile tr td.profil-img{background-color:var(--dark-wiki-line-background-color);
                }

  

  
/*임무 횟수 표*/
.theme--dark #mission th.mission-table-title span{color:var(--dark-wiki-text-black-color);}
/*패러미터*/



/*BORRDER 순서: 위, 오른쪽, 아래, 왼쪽*/

/*갤러리*/



/*접고 피는 때의 스타일*/



/*그 외의 스포일러 접고 피기*/
.theme--dark details.spoiler{background:var(--dark-sub-color);}
.theme--dark details.spoiler summary h4{color:#fffb91;}

/* 0.0.0 타이틀*/
/*스포일러 경고창*/
.theme--dark #spoiler-coution{
              background:var(--dark-wiki-line-background-color);}

/*대사 1줄*/

.theme--dark table.text-one-line tr td{
                          background: var(--dark-wiki-line-background-color); }
/*대사 2줄*/
.theme--dark table.text-two-line tr td{
                          background: var(--dark-wiki-line-background-color); }


/*순서 나타내기*/
.theme--dark .ol-number{border:1px solid var(--border-wiki-gray-color);}



/*주석 란*/
/* 말풍선 스타일 */
.theme--dark .tooltip {
  background-color:var(--dark-wiki-line-background-color);
}

.theme--dark .tooltip-number {
  color:var(--dark-wiki-a-color); /* 번호 색상 */
}

.theme--dark .tooltip-content {
  color: var(--dark-text-color); /* 내용 색상 */
}

.theme--dark button.tooltip-close{
    color: WHITE;}

.theme--dark button.tooltip-close:hover{background:#7a7a7a;
                          color:white;}

/*레이더 차트*/

/* 캔버스 기본 스타일 */
.theme--dark #radarChart {
  border: 1px solid #ccc;
  border-radius: 8px;
}

/*바 차트*/
.theme--dark #barChart{border: 1px solid #ccc;
  border-radius: 8px;}