@charset "utf-8";
:root{
  /*색상 변경 란*/
  --gaara-color: red;//*저는 가아라랑 같이 사용할 생각으로 둔 거에요 이걸 주석처리를 지우면 이제 가아라 색이 나오는 거죠*/

  --chart-color-0: #8c0202; /* 1부 데이터 색상*/      
  --chart-color-1: #cc4549; /* 2부 데이터 색상*/         
  --chart-color-2: #ff7f90; /* 3부 (the Last) 데이터 색상*/      
  --chart-color-3: #ffbcdc; /* 보루토 데이터 색상*/
}

[data-theme="dark"]{
  
}
